@media screen and (min-width: 601px) and (max-width: 720px) {
    .logo-nav-container {
        margin-bottom: -15px !important;
    }
    .menu-icon {
        display: block !important;
        /* display: block; */
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .container .navigation ul li {
        /* .navigation ul li { */
        /* display: block !important; */
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover {
        background: #424242;
    }
    .about .about-content img {
        width: 200px;
    }
    /* Tamaños de letras */
    /* .logo {
        font-size: 1.9em !important;
    }
    .logo span {
        font-size: 1.9em !important;
    }
    .btn-toBuy,
    .read-more {
        font-size: 1.7em !important;
    }
    .about h2 {
        font-size: 2.5em !important;
    }
    .about-info p {
        font-size: 1.5em;
    }
    .products h2 {
        font-size: 2.5em !important;
    }
    .support h2 {
        font-size: 3.5em !important;
    }
    .banner h2 {
        font-size: 3em !important;
    }
    .footer .social-network .fab {
        font-size: 2.3em !important;
    }
    .btn-formulario {
        font-size: 1.5em !important;
    } */
    .brand {
        padding-left: 50px;
        padding-right: 20px;
    }
    .brand .formulario .mb-3 {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 1.0em !important;
    }
    /* Evito el uso del !important con el origen */
    .formulario .mb-3 {
        display: block;
    }
    .formulario .field {
        width: 300px;
    }
    /* .logo-main {
        margin-top: 4em !important;
        margin-bottom: 3em !important;
    } */
    /* Evito el uso del !important con un id */
    #logo-main {
        margin-top: 4em;
        margin-bottom: 3em;
    }
    .logo-nav-container {
        margin-bottom: -15px !important;
    }
    .menu-icon {
        display: block !important;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block !important;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover {
        background: #424242;
    }
    /* MAIN SECTION */
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 70vh;
        padding-top: 2rem !important;
        margin-bottom: 10rem;
    }
    .main img {
        width: 7em;
    }
    .main h1 {
        margin-top: -130px;
    }
    .main .button-content {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    /* ABOUT SECTION */
    .about {
        width: 90%;
        margin: 0 auto;
        margin-top: -9em;
    }
    .about .about-content {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }
    .about .about-info {
        margin: 2em;
    }
    .about img {
        width: 150px !important;
    }
    /* SUPPORT SECTION */
    .support {
        flex-direction: column;
        padding-left: 30px;
    }
    .support-info {
        text-align: center;
    }
    /* BANNER SECTION */
    #banner {
        height: 50vh;
        background-position: center;
    }
    .banner {
        background-image: none !important;
        grid-template-columns: none !important;
        height: auto !important;
    }
    .banner .rating img {
        width: 50px;
    }
    .banner .rating h2 {
        font-size: 2em;
        margin: 1rem 1rem !important;
    }
    .banner .secundary-info {
        margin: 1rem 1rem !important;
    }
    /* FOOTER SECTION */
    .footer {
        flex-direction: column-reverse;
    }
    .footer li {
        margin-top: 20px;
    }
    .footer .quicklinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer .social-network {
        margin: 2em;
    }
}