@media only screen and (max-width: 600px) {
    /* .navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    } */
    .logo-nav-container {
        margin-bottom: -15px !important;
    }
    .menu-icon {
        display: block !important;
        cursor: pointer;
        padding: 0.5rem 1rem;
        /* adicionales */
        /* font-size: 2em;
        color: #fff; */
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        /* display: inline-block; */
        display: block !important;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover {
        background: #8c50f1;
    }
    /* .hero {
        overflow-x: hidden;
    }
    .navigation {
        background-color: #554845;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .42);
        align-items: center;
    }
    .navigation .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        height: 45vh;
        left: -1em;
        transform: translateY(-120%);
        transition: all 1.4s;
        z-index: 1;
    }
    .navigation .menu-icon {
        display: block;
        font-size: 2em;
        color: #fff;
        cursor: pointer;
    }
    .navigation .menu-toggle {
        transform: translateY(0%);
    }
    .menu li {
        margin-top: 1.5em;
    } */
    /* MAIN SECTION */
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 70vh;
        /* margin-top: 1rem; */
        padding-top: 2rem !important;
        margin-bottom: 10rem;
    }
    .main img {
        width: 7em;
    }
    .main h1 {
        margin-top: -130px;
    }
    .main .button-content {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    /* ABOUT SECTION */
    .about {
        width: 90%;
        margin: 0 auto;
        margin-top: -9em;
    }
    .about .about-content {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }
    .about .about-info {
        margin: 2em;
    }
    .about img {
        width: 150px !important;
        /* margin-top: 3em; */
    }
    /* SUPPORT SECTION */
    .support {
        flex-direction: column;
        padding-left: 30px;
    }
    .support-info {
        text-align: center;
    }
    /* BANNER SECTION */
    #banner {
        height: 50vh;
        background-position: center;
    }
    .banner {
        background-image: none !important;
        grid-template-columns: none !important;
        height: auto !important;
    }
    .banner .rating img {
        width: 50px;
    }
    .banner .rating h2 {
        font-size: 2em;
        margin: 1rem 1rem !important;
    }
    .banner .secundary-info {
        /* display: none; */
        margin: 1rem 1rem !important;
    }
    /* FOOTER SECTION */
    .footer {
        flex-direction: column-reverse;
    }
    .footer li {
        margin-top: 20px;
    }
    /* .footer .menu li {
        margin-top: 20px;
    } */
    .footer .quicklinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* .footer .quicklinks .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } */
    .footer .social-network {
        margin: 2em;
    }
    /* .footer h3 {
        font-weight: lighter;
        margin-top: 1em;
        color: #f7b733;
    } */
}